body{
    min-width:640px;
}
header{
    padding-top: 1.75%;
    color: #000000;
    border-bottom: 1px solid #000000;
}

header h1{
    font-size: 38px;
    font-weight: bold;
}
header .columns{
    position: relative;
}

.logo{
    position: absolute;
    top: -28px;
    width:155px;
    height:124px;
    background: url('../img/skoda-logo.png') no-repeat;
}

nav{
    background-color: #41a821;
}

nav .button-group{
    margin:0;
}
nav .login a {
    float: right;
}
.main{
    padding: 3% 0;
    min-height: 68vh;
}

.main select{
    outline-color: #41a821;
}

label{
    font-weight: bold;
}

.hidden{
    display: none;
}

#car-constructor,
#credit-calculator{
    min-height: 28vh;
}
#car-constructor select[name="colors"] option span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
}

#car-constructor .callout .button{
    margin: 0;
    color: #34861a;
}

h4{
    text-align: center;
}

#price-js{
    font-weight: bold;
    letter-spacing:1px;
}

.success-msg{
    color: #41A821;
}

.fa-info{
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    font-size:25px;
    color: #34861a;
}

.fa-floppy-o,
.fa-times-circle{
    margin-right: 15px;
}

#credit-calculator .interest{
    display: block;
    height: 2.4375rem;
    padding: .5rem;
    border: 1px solid #cacaca;
    margin: 0 0 1rem;
}

footer{
    padding: 2% 0;
    background-color: #111111;
    color: #ffffff;
    text-align: center;
}